<div class="auth-wrapper align-items-stretch aut-bg-img">
  <app-card cardTitle="{{'CONTENT.personal_document' | translate}}" headerClass="text-center text-lg-left" class="col-md-6 center-cards align-self-center" [hidHeader]="true">
    <div>
      <div class="container row text-center">
          <div>
            <!-- <img class="center-block" src="assets/images/telkom_university.png" style="max-width: 15%;" /> -->
          </div>
      </div>
      <br>
      <div>
        <h5 style="text-align:center">
          {{ 'CONTENT.forgot-password-2' | translate }}
        </h5>
      </div>
      <form class="md-float-material form-material" action="javascript:" [formGroup] = "resetPasswordForm" (ngSubmit)= "updateResetPassword()">
        <div class="form-group mb-2">
          <label class="form-label m-b-0 f-w-600">{{ 'CONTENT.new-password' | translate }}</label>
            <input type="password" maxLength="12" class="form-control form-control-sm" id="password" formControlName="password" [placeholder]="'CONTENT.password' | translate" (ngModelChange)="changeStrengthbar($event)"/>
            <div class="strength">
              <ul class="strengthBar">
                <li class="point" [style.background-color]="bar0"></li>
                <li class="point" [style.background-color]="bar1"></li>
                <li class="point" [style.background-color]="bar2"></li>
                <li class="point" [style.background-color]="bar3"></li>
              </ul>
              <h6 [style.color]="msgColor">{{msg}}</h6>
              <label *ngIf="passWeak" class="error text-danger small form-text">{{ messageReturn }}</label>
              <label *ngIf="passFair" class="error text-warning small form-text">{{ messageReturn }}</label>
              <label *ngIf="passGood" class="error text-info small form-text">{{ messageReturn }}</label>
              <label *ngIf="passStrong" class="error text-success small form-text">{{ messageReturn }}</label>
            </div>
            <!-- <app-password-strength [passwordToCheck]="resetPasswordForm.value.password" (passwordStrength)="passwordValid($event)"></app-password-strength> -->
      </div>
      <div class="form-group mb-2">
          <label class="form-label m-b-0 f-w-600">{{ 'CONTENT.new-password-confirmation' | translate }}</label>
          <input type="password" (input)="checkPasswordRepeat($event)" class="form-control form-control-sm" id="passwordRepeat" formControlName="passwordRepeat" placeholder="Ulangi pengisian password"
          />
          <div *ngIf="resetPasswordForm.controls.passwordRepeat.touched">
          <label *ngIf="!passwordRepeatIsValid" class="small form-text text-danger" id="validation-passwordRepeat-error"
          >{{ 'CONTENT.password-match' | translate}}</label>
          </div>
      </div>
      <div class="form-group mb-0 mt-4 text-center">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!(resetPasswordForm.valid && passwordIsValid && passwordRepeatIsValid)">
          <i class="icofont icofont-key"></i> {{ 'CONTENT.change-password' | translate }}
        </button>
      </div>
      </form>
  </div>
  </app-card>
</div>
