td{
  table-layout:fixed;
  word-wrap: break-word;
  white-space: pre-wrap;
}
th{
  table-layout:fixed;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.center-table{
 text-align: center;
}
.status-width{
  max-width: 80px;
}
.city-width{
  max-width: 120px;
}
.school-width{
  max-width: 180px;
}
.address-width{
  max-width: 200px;
  text-align: justify;
}
.action-width{
  max-width: 20px;
  text-align: center;
}
.number{
  max-width: 30px;
  padding-left: 10px;
  text-align: center;
}
