<perfect-scrollbar *ngIf="this.nextConfig['layout'] === 'vertical'" (clickOutside)="navMob()" [excludeBeforeClick]="true" [exclude]="'#mobile-collapse'" id="nav-ps-next" ngClass="able-pro-scroll" [style.max-width]="'300px'" [style.max-height]="'calc(100vh - 60px)'" [usePSClass]="'next'" [disabled]="null">
  <div class="navbar-content">
    <div class="">
      <div class="main-menu-header">
        <img class="img-radius" [src]="userProfile.photo" alt="User-Profile-Image">
        <div class="text-center mt-2">
          <span *ngIf="isAdminFaculty" class="badge badge-light-danger" >{{'CONTENT.admin-faculty' | translate}}</span>
          <span *ngIf="isAdminUniversity" class="badge badge-light-danger" >{{'CONTENT.admin-university' | translate}}</span>
          <span *ngIf="isAdminAdmission" class="badge badge-light-danger" >{{'CONTENT.admin-admission' | translate}}</span>
          <span *ngIf="isAdminParticipant" class="badge badge-light-danger" >{{'CONTENT.admin-admission-participant' | translate}}</span>
          <span *ngIf="isParticipant" class="badge badge-light-primary" >{{'CONTENT.participant' | translate}}</span>
          <span *ngIf="isNewstudent" class="badge badge-light-success" >{{'CONTENT.new-student' | translate}}</span>
          <span *ngIf="isSuperadmin" class="badge badge-light-danger" >{{'CONTENT.superadmin' | translate}}</span>
        </div>
        <div class="user-details mt-2" (click)="isNavProfile = !isNavProfile; adjustContainer()">
          <div *ngIf="isAdminFaculty || isAdminUniversity || isAdminAdmission || isAdminParticipant || isSuperadmin" id="more-details">{{ userProfile.numberid }} <br> {{ userProfile.fullname }} <i class="icofont icofont-caret-down" [ngClass]="{'icofont-caret-up': isNavProfile }"></i>
          </div>
          <div *ngIf="isParticipant" id="more-details">{{ userProfile.fullname }} <i class="icofont icofont-caret-down" [ngClass]="{'icofont-caret-up': isNavProfile }"></i>
            <p class="participant-email-custom text-muted">{{ userProfile.email }}</p>
          </div>
            <div *ngIf="isNewstudent" id="more-details">{{ userProfile.fullname }} <i class="icofont icofont-caret-down" [ngClass]="{'icofont-caret-up': isNavProfile }"></i>
              <p class="participant-email-custom text-muted">{{ userProfile.email }}</p>
            </div>
        </div>
        </div>
      <div class="collapse" id="nav-user-link" *ngIf="isNavProfile" [class.show]="isNavProfile">
        <ul class="list-unstyled">
          <li class="list-group-item"><a href="javascript:" (click)="logout()"><i class="icofont icofont-power m-r-5"></i>{{ 'ROOT.logout' | translate }}</a></li>
        </ul>
        <app-card [hidHeader]="true" cardClass="text-center bg-inverse mb-0">
          <div class="col text-center">
            <span class="d-block mt-1">{{ 'ROOT.change_theme' | translate }}</span>
            <div class="form-group mb-1">
              <label class="m-r-10 f-24 mb-0" [class.text-warning]="layoutTypeStorage == 'dark'"><i class="icofont icofont-moon"></i></label>
              <div class="switch switch-warning d-inline">
                <input type="checkbox" id="switch-a-1" [checked]="layoutTypeStorage != 'dark'" (change)="changeLayout($event)">
                <label for="switch-a-1" class="cr"></label>
              </div>
              <label class="m-l-10 f-26 mb-0" [class.text-warning]="layoutTypeStorage == 'reset'"><i class="icofont icofont-sun-alt"></i></label>
            </div>
            <hr class="mt-0 mb-2">
            <div class="form-group form-check pl-4 mb-0">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="autoTheme == 'true' || autoTheme == true" (change)="checkAutoTheme($event)">
              <label class="form-check-label f-12 text-left" for="exampleCheck1">{{ 'ROOT.toogle_theme' | translate }}</label>
            </div>
          </div>
        </app-card>
        <app-card [hidHeader]="true" cardClass="bg-inverse mt-2 mb-0">
          <div class="m-style-scroller">
            <div class="text-center">
              <span class="d-block mb-2">Header</span>
            </div>
            <div class="theme-color background-color image mb-2 nav">
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-7'}" (click)="setHeaderBackground('background-img-7');" data-value="background-img-7"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-5'}" (click)="setHeaderBackground('background-img-5');" data-value="background-img-5"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-4'}" (click)="setHeaderBackground('background-img-4');" data-value="background-img-4"><span></span><span></span></a>
            </div>
            <div class="theme-color background-color image mb-2 nav">
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-1'}" (click)="setHeaderBackground('background-img-1');" data-value="background-img-1"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-3'}" (click)="setHeaderBackground('background-img-3');" data-value="background-img-3"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-img-6'}" (click)="setHeaderBackground('background-img-6');" data-value="background-img-6"><span></span><span></span></a>
            </div>
            <div class="theme-color background-color gradient mb-2 nav">
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-telu'}" (click)="setHeaderBackground('background-grd-telu');" data-value="background-grd-telu"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-red'}" (click)="setHeaderBackground('background-grd-red');" data-value="background-grd-red"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-blue'}" (click)="setHeaderBackground('background-grd-blue');" data-value="background-grd-blue"><span></span><span></span></a>
            </div>
            <div class="theme-color background-color gradient nav mb-0">
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-purple'}" (click)="setHeaderBackground('background-grd-purple');" data-value="background-grd-purple"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-green'}" (click)="setHeaderBackground('background-grd-green');" data-value="background-grd-green"><span></span><span></span></a>
              <a href="javascript:" [ngClass]="{'active': headerBackgroundColor === 'background-grd-dark'}" (click)="setHeaderBackground('background-grd-dark');" data-value="background-grd-dark"><span></span><span></span></a>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()">
      <ng-container *ngFor="let item of navigation">
        <app-nav-group *ngIf="item.type=='group'" [item]="item"></app-nav-group>
        <app-nav-collapse *ngIf="item.type=='collapse'" [item]="item"></app-nav-collapse>
        <app-nav-item *ngIf="item.type=='item'" [item]="item"></app-nav-item>
      </ng-container>
    </ul>
  </div>
</perfect-scrollbar>

<div *ngIf="this.nextConfig['layout'] === 'horizontal'" #navbarWrapper class="navbar-content sidenav-horizontal" id="layout-sidenav">
  <a href="javascript:" class="sidenav-horizontal-prev" [ngClass]="prevDisabled" (click)="scrollMinus()"></a>
  <div  class="sidenav-horizontal-wrapper"><!-- add 14-4 viral -->
    <ul #navbarContent id="side-nav-horizontal" class="nav pcoded-inner-navbar sidenav-inner" (clickOutside)="fireLeave()" (mouseleave)="fireLeave()">
      <ng-container *ngFor="let item of navigation">
        <app-nav-group *ngIf="item.type=='group'" [item]="item"></app-nav-group>
        <app-nav-collapse *ngIf="item.type=='collapse'" [item]="item"></app-nav-collapse>
        <app-nav-item *ngIf="item.type=='item'" [item]="item"></app-nav-item>
      </ng-container>
    </ul>
  </div>
  <a href="javascript:" class="sidenav-horizontal-next" [ngClass]="nextDisabled" (click)="scrollPlus()"></a>
</div>
