<app-navigation class="cust pcoded-navbar" [ngClass]="{'navbar-collapsed' : navCollapsed, 'theme-horizontal': this.nextConfig['layout'] === 'horizontal', 'mob-open' : navCollapsedMob}" (NavMobCollapse)="navMobClick()"></app-navigation>
<app-nav-bar class="navbar pcoded-header navbar-expand-lg navbar-light header-blue" (NavCollapse)="this.navCollapsed = !this.navCollapsed;" (NavHeaderMobCollapse)="navMobClick()"></app-nav-bar>
<div class="pcoded-main-container">
    <div class="pcoded-content" [ngClass]="{'container': this.nextConfig.layout === 'horizontal' && this.nextConfig.subLayout === 'horizontal-2'}">
      <app-breadcrumb class="change-breadcrum"></app-breadcrumb>
      <div [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
</div>
<app-configuration></app-configuration>
