<div class="strength mb-0">
  <ul class="strengthBar">
    <li class="point" [style.background-color]="bar0"></li>
    <li class="point" [style.background-color]="bar1"></li>
    <li class="point" [style.background-color]="bar2"></li>
    <li class="point" [style.background-color]="bar3"></li>
  </ul>
  <p class="mb-0" [style.color]="msgColor">{{msg}}
  </p>
  <p *ngIf="passWeak" class="error text-danger small form-text">{{ messageReturn }}</p>
  <p *ngIf="passFair" class="error text-warning small form-text">{{ messageReturn }}</p>
  <p *ngIf="passGood" class="error text-info small form-text">{{ messageReturn }}</p>
  <p *ngIf="passStrong" class="error text-success small form-text">{{ messageReturn }}</p>
</div>

